@model List<Zero_Hunger.Models.ProductWithQuntity>
<h1>Welcome @ViewBag.Admin</h1>


<div class="mb-3">
    <label for="search">Search by Name:</label>
    <input type="text" id="search" name="search" class="form-control" />
    <button class="btn btn-primary" onclick="filterProducts()">Search</button>
    @Html.ActionLink("Notification", "AdminNotifications", "Dashboard", new { }, new { @class = "btn btn-success" })
    @Html.ActionLink("LogOut", "LogOut", "LogIn", new { }, new { @class = "btn btn-danger" })
</div>

<div class="row">
    @foreach (var productWithQuantity in Model)
    {
        var product = productWithQuantity.Product;
        var quantity = productWithQuantity.Quantity;
        var restaurantId = productWithQuantity.RestaurantName;


        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                     @productWithQuantity.RestaurantName
                </div>
                <img src="@Url.Content("~/Image/" + product.PhotoPath)" alt="Product Image" class="card-img-top" style="width: 100%; max-height: 200px; object-fit: cover;" />

                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <label for="quantity_@product.ProductId">Quantity:</label>
                    <span id="quantity_@product.ProductId">@quantity</span>

                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <select id="employeeSelect_@product.ProductId" class="form-control">
                                <option value="" selected disabled hidden >Select Employee</option>
                                @foreach (var employee in ViewBag.EmployeeList)
                                {
                                    <option value="@employee.UserId">@employee.Name</option>
                                }
                            </select>

                        </div>

                        <div class="d-flex">
                            <button class="btn btn-primary btn-sm accept-request" data-product-id="@product.ProductId" data-restaurant-name="@productWithQuantity.RestaurantName">Accept Request</button>
                            <button class="btn btn-danger btn-sm ml-2 reject-request" data-product-id="@product.ProductId" data-restaurant-name="@productWithQuantity.RestaurantName">Reject Request</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        
        $('.accept-request').click(function () {
            var productId = $(this).data('product-id');
            var quantity = $('#quantity_' + productId).text();
            var employeeId = $('#employeeSelect_' + productId).val();
            var restaurantName = $(this).data('restaurant-name');

            var requestData = {
                ProductId: productId,
                Amount: quantity,
                EmployeeId: employeeId,
                RestaurantName: restaurantName
            };

            var clickedButton = $(this); 

            $.ajax({
                type: 'POST',
                url: '/LogIn/AcceptRequest',
                data: requestData,
                success: function (response) {
                    // Handle success response here
                    console.log('Request accepted successfully');

                    // Hide the card of the accepted product
                    clickedButton.closest('.card').parent().hide();
                },
                error: function (error) {
                    // Handle error response here
                    console.error('Error accepting request:', error);
                }
            });
        });


    });
    $('.reject-request').click(function () {
        var productId = $(this).data('product-id');
        var quantity = $('#quantity_' + productId).text();
        var restaurantName = $(this).data('restaurant-name');

        var requestData = {
            ProductId: productId,
            Amount: quantity,
            RestaurantName: restaurantName
        };

        var clickedButton = $(this);

        $.ajax({
            type: 'POST',
            url: '/LogIn/RejectRequestFromAdmin',
            data: requestData,
            success: function (response) {
                console.log('Request rejected successfully');
                clickedButton.closest('.card').parent().hide();
            },
            error: function (error) {
                console.error('Error rejecting request:', error);
            }
        });
    });




    function filterProducts() {
        var searchValue = $('#search').val().toLowerCase();

        $('.card').each(function () {
            var productName = $(this).find('.card-title').text().toLowerCase();

            if (productName.includes(searchValue)) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }


</script>


